@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    background-color: #F2EFED;
}

a {
    color: inherit;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    margin: 0 4rem;
}

nav a {
    font-family: 'Poppins', sans-serif;
}

nav ul {
    display: flex;
    list-style: none;
    font-weight: 600;
}

nav li {
    padding-left: 1rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.carousel {
    width: 80%;
    height: 250px;
    position: relative;
}

.carousel .switchLeft, 
.carousel .switchRight {
    color: #000000;
    font-size: 45px;
    font-weight: bold;
    height: 100%;
    width: 45px;
    line-height: 250px;
    text-align: center;
    top: 0;
    z-index: 3;
    opacity: 40%;
}

.carousel {
    display: flex;
    width: 60%;
}

.carouselBox {
    text-align: center;
    overflow: hidden;
    padding: 10px;

}
.carouselBox img {
    height: 150px;
}

#prev {
    left:0;
    border-radius: 0 10px 10px 0;
    position: absolute;
    left: -50px;
    font-size: 70px;
}
#next {
    right:0;
    border-radius:10px 0 0 10px;
    position: absolute;
    right: -50px;
    font-size: 70px;
}

/*Blog Content*/

.blogContainer {
    width: 80%;
    align-items: center;
    padding-bottom: 2rem;
}

.results {
    padding: 20px;
}

.blogContainer h3{
    color: #000000;
    font-size: 24px;
    padding-left: 35%;
}

.blogContainer img {
    height: 250px;
    margin: 20px 0;
    padding-left: 30%;
}

.blogContainer p,
.blogContainer ul,
.blogContainer ol{
    font-family: 'Eb Garamond', 'sans-serif';
    color: #000000;
    font-size: 20px;
}

/*Individual blog posts*/

.blogPageContainer {
    padding-bottom: 2rem;
}

.blogInfo {
    display: flex;
    width: 80%;
}
.back {
    width: 80%
}

.blogDate {
    width: 20%;
    text-align: end;
}

.postContainer h1 {
    text-align: center;
}

.postContainer img {
    height: 250px;
    display: flex;
    align-items: center;
    margin: auto;
    padding-top: 1rem;
}


.postContainer p, 
.postContainer ol, 
.postContainer ul {
    font-family: 'Eb Garamond', sans-serif; 
    font-size: 20px;
    width: 80%;
    text-align: start;
    margin: auto;
    padding-top: 1rem;
}

/*Modal*/

.blogPageContainer .imgContainer {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 1;
    display: none;
}

.blogPageContainer .imgContainer span {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 50px;
    font-weight: bolder;
    color: #ffffff;
    cursor: pointer;
    z-index: 1;
}

.blogPageContainer .imgContainer img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 70%;
    
    transform: translate(-50%, -50%);
}

/*Category*/

.categoryContainer {
    width: 80%;
    align-items: center;
    padding-bottom: 2rem;
}

.categoryContainer img {
    height: 250px;
}

.categoryContainer p, 
.categoryContainer ol, 
.categoryContainer ul {
    font-family: 'Eb Garamond', sans-serif; 
    font-size: 20px;
    width: 80%;
    text-align: start;
    padding-top: 1rem;
}

/*Contact Form*/

#contactContainer h1{
    font-size: 30px;
    margin: 1rem;
    text-align: center;
}

.contactContainer {
    border: #000000 solid 1px;
    border-radius: 20px;
    padding: 20px;
}

label {
    display: block;
    margin-top: 1rem;
    color: #000000;
}

input {
    width: 100%;
    margin: 2px;
    padding: 8px;
    font-size: 15px;
    border-radius: 5px;
}
#message {
    height: 150px;
}

button {
    border: #000000 solid 1px;
    border-radius: 1rem;
    width: 150px;
    padding: 1rem;
    color: #000000;
    margin-top: 10px;
    cursor: pointer;
}

.formError {
    display: none;
    font-weight: bold;
    color: crimson;
    font-size: 13px;
    margin-top: 2px;
}


footer {
    display: flex;
    width: 80%;
    margin: auto;
}

.footer-left {
    width: 80%;
    font-family: 'Poppins', sans-serif;
}
.footer-right, .footer-right ul {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
}

.footer-right,
.footer-right ul,
.footer-right li {
    padding-bottom: 15px;
    font-weight: bold;
}

.socials {
    display: flex;
    color: #DEBFAD;
    font-size: 50px;
}

.socials i {
    padding-right: 20px;
}

@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }
    nav ul {
        flex-direction: column;
        padding-top: 0.5rem;
    }
    nav li {
        padding: 0.5rem 0;
    }
}
